button{
    padding: 50px;
}


.header{
    display: flex;
    justify-content: center;
    background-color: brown;
    
}

.content{
    display: flex;
    justify-content: center;
}

.button--container{
    display: flex;
    justify-content: space-around;
    width: 500px;
    padding: 100px;
    border: 8px solid black;
    
}